@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
body {
    font-family: "League Spartan", sans-serif;
    background-color:hsl(0, 0%, 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    max-width: 1100px;
    margin: 0 1rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    padding: 80px;

    background-image: 
    url('./bg-pattern-top-desktop.svg'),
    url('./bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: top  left, bottom -1rem right -1rem;
    background-size: 30%, 80%;
}


.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 2rem;

    
}
.cont1 {
    width: 100%;
}
.cont1 h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    margin-bottom: 1rem;
    width: 50%;
}
.cont1 p {
    color: hsl(300, 43%, 22%);
    line-height: 1rem;
    width: 80%;
}


.btn {
    width: 80%;
    border: 0;
    outline: 0;
    margin-bottom: 1rem;
    background-color: hsl(300, 24%, 96%);
    color:hsl(300, 43%, 22%);
    text-align: center;
    font-weight: 700;
    padding: 0.7rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    margin-left: 2rem;
}
.button3 {
    margin-left: 4rem;
}

.container2 {
    display:  flex;
    justify-content: space-between;
}

.profile {
    width: 300px;
    height: 200px;
    background: hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 20px;
}
.proimg {
    display: flex;
    margin-bottom: 1.5rem;
    
    
}
.proimg img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
}
.name {
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
    font-weight: 500;
}
.buyer {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.context  {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    line-height: 1.5rem;
}

.sub2 {
    margin-top: 1rem;
}
.sub3 {
    margin-top: 2rem;
}

@media only screen and (max-width: 375px) {

    .card {
        padding: 40px 20px;

        background-image: 
        url('./bg-pattern-top-mobile.svg'),
        url('./bg-pattern-bottom-mobile.svg');
        background-repeat: no-repeat;
        background-position: top -3rem  left 3rem, bottom 1rem right ;
        background-size: 100%, 100%;
    }

    .container1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
        
    }
    .cont1 h1 {
        width: 90%;
        text-align: center;
    }
    .cont1 p {
        text-align: center;
        line-height: 1.5rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    .btn {
        width: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .btn p {
        margin-top: 0.5rem;
    }


    .button2 {
        margin-left: 0;
    }
    .button3 {
        margin-left: 0;
    }


    .container2 {
        display:  flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .profile {
        width: 100%;
        height: 220px;
        background: hsl(300, 43%, 22%);
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 1rem;
    }
    .sub2 {
        margin-top: 0rem;
    }
    .sub3 {
        margin-top: 0rem;
    }
   
}